### 2.3 변수와 입력

- 변수

In [2]:
pi = 3.1415926535
pi + 2

5.1415926535

In [3]:
radius = 10
print(f'원의 둘레 : {2 * radius * pi}')
print(f'원의 면적 : {pi * radius ** 2}')

원의 둘레 : 62.83185307
원의 면적 : 314.15926535

- 복합 대입 연산자( +=, *=, -=, ... )

In [5]:
odd_sum = 0
for i in range(1, 100, 2):
    odd_sum += i
print(odd_sum)

2500

In [6]:
ten_factorial = 1
for i in range(1, 11):
    ten_factorial *= i
print(ten_factorial)

3628800

In [8]:
hello = ''
for i in range(3):
    hello += '안녕!'        # hello = '안녕' * 3
print(hello)

안녕!안녕!안녕!

- 표기법

In [11]:
# Snake notation
my_height = 175         # myHeight, camel notation
my_weight = 70          # myWeight, Java, JS에서 사용

In [12]:
한글변수 = 5
print(한글변수)

5

- 여러개의 변수

In [16]:
x, y, z = 10, 20, 30        # typle unpacking( (x, y, z) = (10, 20, 30) )

In [17]:
# Swapping(x와, y의 값을 서로 바꿈)이 편리
# 일반적인 언어
temp = x
x = y
y = temp
x, y

(20, 10)

In [18]:
# 파이썬에서는 아래와 같이 사용 가능
x, y = y, x
x, y

(10, 20)

- 값이 없을 경우

In [19]:
x = None        # Java, JS의 null에 해당

- 입력(input)

In [20]:
a = input('Prompt> ')           # input 함수에 무엇을 입력해도 결과는 string
a, type(a)

('10', str)

In [21]:
# type 변환을 하지 않으면 엉뚱한 결과가 발생함
a = input('첫번째 정수를 입력하세요> ')         # 3
b = input('두번째 정수를 입력하세요> ')         # 4
a + b

'34'

In [22]:
a = int(input('첫번째 정수를 입력하세요> '))    # 3
b = int(input('두번째 정수를 입력하세요> '))    # 4
a + b

7

In [26]:
# 인치 단위를 센티미터 단위로 변환
inch = float(input('인치값 입력> '))
cm = inch * 2.54
print(f'{inch} 인치는 {cm:.2f} 센티미터입니다.')

5.4 인치는 13.72 센티미터입니다.

- 입력값 여러개 받기

In [27]:
# 문자열 split() method
'10 20'.split()         # split 괄호안을 생략하면 ' '

['10', '20']

In [29]:
a, b = '10, 20'.split() # list unpacking
a, b

('10,', '20')

In [30]:
a, b = input('두개의 숫자 입력> ').split()      # 3 4
a, b

('3', '4')

In [33]:
a, b = input('두개의 숫자 입력(,로 구분)> ').split(',')      # 3,4
a, b

('3', '4')

In [34]:
# list 각 원소 (element)에 함수를 적용하는 방법: map
list(map(int, ['10', '20']))    # [int('10'), int('20')]

[10, 20]

In [35]:
a, b = map(int, ['10', '20'])
a, b

(10, 20)

In [36]:
# 첫번째 split()과 두번째 map()을 결합.
a, b = map(int, input('두개의 숫자 입력> ').split())      # 3 4
a, b, a+b

(3, 4, 7)

In [40]:
# x, y, z 에 세개의 실수 입력값을 지정하고 싶을 경우
x, y, z = map(float, input('세개의 실수 입력> ').split())     # 1.2 1.5 3.3
x, y, z

(1.2, 1.5, 3.3)