### 5-3. 람다(lamda) 함수

- 익명(anonymous) 함수

In [1]:
def plus_ten(x):
    return x + 10

In [2]:
plus_ten(4)

14

In [4]:
plus_ten = lambda x: x + 10
plus_ten(4)

14

- map 함수에 적용

In [5]:
list(map(lambda x: x + 10, [1, 3, 5]))

[11, 13, 15]

In [6]:
def power(x):
    return x * x

In [7]:
a = [1, 2, 3, 4, 5]
list(map(power, a))

[1, 4, 9, 16, 25]

In [8]:
list(map(lambda x: x * x, a))

[1, 4, 9, 16, 25]

- 람다 함수 만드는 법

In [9]:
f = lambda x: print(x)
f('Hello')

Hello

In [11]:
f = lambda x: x ** 3            # return x ** 3 의 의미
f(10)

1000

In [12]:
# 홀수면 세제곱을 짝수면 제곱을 반환하는 람다 함수
f = lambda x: x ** 3 if x % 2 == 1 else x * x
f(2), f(3)

(4, 27)

In [13]:
f = lambda x, y: x + y
f(3, 4)

7

- filter 함수

In [14]:
# 리스트에서 홀수만 골라 새로운 리스트를 만듬
a = [23, 45, 78, 76, 35, 92]
b = list(filter(lambda x: x % 2 == 1, a))
b

[23, 45, 35]