### 4-1. 리스트(List)

In [1]:
a = [3, 7, 13, 14, 19]
a, type(a)

([3, 7, 13, 14, 19], list)

In [3]:
# 리스트에는 다양한 자료형의 데이터를 사용할 수 있음
person = ['James', 27, 175.3, '남']
person

['James', 27, 175.3, '남']

- 인덱싱

In [4]:
person[0]

'James'

In [5]:
# 슬라이싱 가능
a = [3, 7, 13, 14, 19]
a[1:-1], a[:2], a[3:]

([7, 13, 14], [3, 7], [14, 19])

In [6]:
a[::2], a[::-1]

([3, 13, 19], [19, 14, 13, 7, 3])

- 값 변경

In [7]:
a[1] = 8
a

[3, 8, 13, 14, 19]

In [8]:
a[2] = [10, 20]
a

[3, 8, [10, 20], 14, 19]

In [9]:
a[3:] = [24, 29]
a

[3, 8, [10, 20], 24, 29]

In [10]:
a[:2] = [100, 200, 300]
a

[100, 200, 300, [10, 20], 24, 29]

In [11]:
# 값 20을 인덱싱
a[3][1]

20

- 빈 리스트 만들기

In [14]:
a = []
b = list()

In [15]:
import random
for i in range(5):          # 5회 반복
    a.append(random.randint(40, 100))
a

[76, 89, 82, 44, 74]

- 리스트 연산

In [16]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [17]:
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [18]:
len(b)

3

In [19]:
len('안녕하세요')

5

- tuple
    - 일단 생성되면 값을 수정할 수 없음(immutable)

In [20]:
a = (24, 31, 47, 5, 25)
a, type(a)

((24, 31, 47, 5, 25), tuple)

In [21]:
a[2]

47

In [22]:
# 값을 변경할 수 없음
a[2] = 34

TypeError: 'tuple' object does not support item assignment

In [23]:
# 값을 추가할 수 없음
a.append(88)

AttributeError: 'tuple' object has no attribute 'append'

In [24]:
b = (24)
type(b)

int

In [25]:
c = (24,)
type(c)

tuple

In [26]:
d = 12, 25
type(d)

tuple

- 리스트와 튜플

In [27]:
t = tuple([1, 2, 3])
l = list((4, 5, 6))
type(t), type(l)

(tuple, list)

- 리스트에 문자열 넣기

In [28]:
hello = list('안녕하세요')
hello

['안', '녕', '하', '세', '요']

- 리스트/튜플 언패킹(unpacking)

In [32]:
x, y, z = 10, 20, 30
x, y, z

(10, 20, 30)

In [33]:
x, y, z = [10, 20, 30]
x, y, z

(10, 20, 30)

In [38]:
x, y, z = list('ABC')
x, y, z

('A', 'B', 'C')