### 집합(Set)

In [1]:
fruits = {'apple', 'orange', 'apple'}
type(fruits)

set

In [6]:
# set는 element의 중복을 허용하지 않음
fruits

{'apple', 'orange'}

- in 연산자

In [7]:
'banana' in fruits, 'apple' in fruits

(False, True)

- 원소 갯수 : len()

In [8]:
len(fruits)

2

- 빈 세트 만들기

In [9]:
s = {}
type(s)

dict

In [10]:
s = set()
type(s)

set

- 한글 문자열

In [12]:
# 가나다순으로 입력, 출력
set('안녕하세요')

{'녕', '세', '안', '요', '하'}

In [13]:
set('hello')

{'e', 'h', 'l', 'o'}

In [11]:
a = input().split(';')
a.sort(reverse=True)
print(' '.join(a))

51900 83000 158000 367500 250000 59200 128500 1304000

In [9]:
51900;83000;158000;367500;250000;59200;128500;1304000

TypeError: sequence item 0: expected str instance, int found